/* HeroesComponent's private CSS styles */
.crisis-list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 20em;
    div {
        position: relative;
        cursor: pointer;
        background-color: #eee;
        margin: 0.5em;
        border-radius: 4px;
        display: flex;
        align-items: center;
        &:hover {
            color: #607d8b;
            background-color: #ddd;
            left: 0.1em;
        }
    }
    a {
        color: #333;
        text-decoration: none;
        position: relative;
        display: block;
        width: 250px;
        &:hover {
            color: #607d8b;
        }
    }
    img {
        width: 50px;
        height: 50px;
        padding: 10px;
        background-color: #405061;
        position: relative;
        margin-right: 0.8em;
        border-radius: 4px 0 0 4px;
    }
}
