/* HeroDetailComponent's private CSS styles */
label {
  display: block;
  margin: 0.5em 0;
  color: #607d8b;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: 0.4em;
}
button {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #cfd8dc;
  }
  &:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
}
.suit-label {
  display: flex;
  align-items: center;
}
.suit-color {
  margin-left: 4px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid black;
}
