.container {
    display: inline-flex;

    .hero {
        cursor: pointer;
        user-select: none;
        background-color: lightgray;
        padding: 5px 15px;
        border-radius: 4px;
        margin: 5px 2px 10px;
        font-size: large;

        &:hover {
            background-color: darkgray;
            transform: scale(1.05);
        }
    }
}

.title {
    font-size: 18px;
    font-weight: bold;
}